<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" type="image/png" href="./static/images/" />-->

    <meta name="description" content="">
    <meta name="keywords" content="" lang="fr">
    <meta name="author" content="Nicolas Jousset, Vincent Le Quec">

    <link rel="stylesheet" type="text/css" href="../application/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../application/static/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="../application/static/css/style.css">

    <title>Visage Livre</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand offset-2" href="#">
			<!--<img src="" width="30" height="30" class="d-inline-block align-top" alt="VisageLivre">-->
			<i class="far fa-smile"></i>
			VisageLivre
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
				<div class="collapse navbar-collapse offset-6" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Link1<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link2</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			<!--<form class="form-inline my-2 my-lg-0">-->
				<!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
				<!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
			<!--</form>-->
		</div>
	</nav>

    <section class="container-fluid row">
        <!-- Profile -->
        <div id="profile" class="col-md-3 m-3 myCard">
            <div class="container-fluid text-center">
                <h4>Mon Profile</h4>
                <p><img src="../application/static/images/avatar3.png" alt="Avatar" class="avatar"></p>
                <hr>
                <p><i class="fas fa-at"></i> admin@datsite.eu </p>
            </div>
        </div>

        <div class="col-md-6 m-1">
            <div class="p-2">
                <div class="w3-col m12">
                    <div class="myCard">
                        <div class="w3-container w3-padding">
                            <h6 class="h6">Exprimez-vous</h6>
                            <p contenteditable="true" class="w3-border w3-padding">Bla bla</p>
                            <button type="button" class="btn-primary"><i class="fas fa-pencil-alt"></i> &nbsp;Publier</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid myCard"><br>
                <div class="row" style="text-align: center">
                    <img src="../application/static/images/avatar4.png" alt="Avatar" class="avatar m-1" style="width: 60px;height: 60px">
                    <h4>John Doe</h4><br>
                    <span class="right">create_date</span>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                <div class="p-3">
                    <div class="">
                        <img src="/w3images/nature.jpg" style="width:100%" alt="" class="">
                    </div>
                </div>
                <div class="m2">
                    <button type="button" class="btn-primary"><i class="far fa-thumbs-up"></i> &nbsp;Aimer</button>
                    <button type="button" class="btn-primary"><i class="far fa-comment"></i> &nbsp;Commenter </button>
                </div>
            </div>
        </div>
    </section>


    <footer class="bg-dark">
		<div class="mx-auto d-flex justify-content-center">
			<p class="">© Copyright VisageLibre 2018 | <a href="#">Mentions légales</a></p>
		</div>
	</footer>

    <!--JQuery-->
    <script src="../application/static/jquery-1.11.1.js"></script>
    <!--Bootstrap-->
    <script src="../application/static/bootstrap/js/bootstrap.min.js"></script>
    <!--JS-->
    <script src="../application/static/js/style.js"></script>
</body>
</html>
