<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" type="image/png" href="./static/images/" />-->

    <meta name="description" content="">
    <meta name="keywords" content="" lang="fr">
    <meta name="author" content="Nicolas Jousset, Vincent Le Quec">

    <link rel="stylesheet" type="text/css" href="../application/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../application/static/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="../application/static/css/style.css">
    <!--Bootstrap-->
    <script src="../application/static/bootstrap/js/bootstrap.min.js"></script>

    <title>Visage Livre</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand offset-2" href="#">
			<i class="far fa-smile"></i>
			VisageLivre
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse offset-6" id="navbarSupportedContent">
			<!--<form class="form-inline offset-3">-->
				<!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
				<!--<button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>-->
			<!--</form>-->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#" title="Accueil">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" title="Se connecter">Se connecter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" title="S'inscrire">S'inscrire</a>
				</li>
				<!--<li class="nav-item">-->
					<!--<button class="dropdown-item">-->
						<!--<i class="far fa-bell fa-2x"></i>-->
					<!--</button>-->
				<!--</li>-->
			</ul>
		</div>
	</nav>

    <section class="container-fluid row">
        <!-- Profile -->
        <div id="profile" class="col-md-2 myCard">
            <div class="container-fluid text-center">
                <h4>Mon Profile</h4>
                <p><img src="../application/static/images/avatar3.png" alt="Avatar" class="avatar"></p>
                <hr>
                <p><i class="fas fa-at"></i> Admin Toto </p>
                <p><i class="fas fa-envelope"></i> admin@datsite.eu </p>
            </div>
        </div>

		<div class="col-md-6 m-auto">
			<!--News Input-->
			<form class="container-fluid myCard p-3" id="newsinput">
				<h5 class="h5">Exprimez-vous</h5>
				<input contenteditable="true" placeholder="Exprimez-vous..." style="margin-bottom: 1%; width: 100%"/><br>
				<button type="submit" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> &nbsp;Publier</button>
			</form>
			<!--News-->
			<div class="container-fluid myCard p-3"><br>
                <div style="text-align: center; margin: -5% 0 -5% 0;">
                    <span class="float-right">create_date</span><br/>
                    <img src="../application/static/images/avatar3.png" alt="Nickname" class="avatar" style="width: 60px;height: 60px">
                    <h4>Nickname</h4><br>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
				<div class="p-3">
					<img src="../application/static/images/tmp.png" style="width:100%" alt="todo">
				</div>
				<div class="m2">
					<button type="button" class="btn btn-primary"><i class="far fa-thumbs-up"></i> &nbsp;Aimer</button>
					<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#comment1"
							aria-expanded="false" aria-controls="comment1"><i class="far fa-comment"></i> &nbsp;Commenter
					</button>
				</div>

				<div class="collapsed" id="comment1">
					<div class="container-fluid myCard p-3">
						<!--Comment-->
						<div class="container-fluid">
							<div class="col-md-2" style="margin: 0 0 -10% 0;">
								<img src="../application/static/images/avatar3.png" alt="Nickname" class="avatar"
									 style="width: 60px;height: 60px">
								<h6>Nickname</h6>
							</div>
							<p class="col-md-9 m-auto text-justify">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</p>
							<!--<div class="p-3">-->
								<!--<img src="#" style="width:100%" alt="todo">-->
							<!--</div>-->
							<span class="float-right text-muted">create_date</span><br>
							<hr>
						</div>
						<div class="container-fluid">
							<div class="col-md-2" style="margin: 0 0 -10% 0;">
								<img src="../application/static/images/avatar3.png" alt="Nickname" class="avatar"
									 style="width: 60px;height: 60px">
								<h6>Nickname</h6>
							</div>
							<p class="col-md-9 m-auto text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="p-3">
								<img src="../application/static/images/tmp.png" style="width:100%" alt="todo">
							</div>
							<span class="float-right text-muted">create_date</span><br>
							<hr>
						</div>
						<!-- Comment input-->
						<form id="commentinput">
						<h5 class="h5">Exprimez-vous</h5>
							<input contenteditable="true" placeholder="Votre commentaire..."
								   style="margin-bottom: 1%; width: 100%"/><br>
							<button type="submit" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> &nbsp;Commenter
							</button>
						</form>
					</div>
				</div>
			</div>

			<div class="container-fluid myCard p-3"><br>
                <div style="text-align: center; margin: -5% 0 -5% 0;">
                    <span class="float-right">create_date</span><br/>
                    <img src="../application/static/images/avatar4.png" alt="Nickname" class="avatar" style="width: 60px;height: 60px">
                    <h4>Nickname</h4><br>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
				<div class="p-3">
					<img src="../application/static/images/tmp.png" style="width:100%" alt="todo">
				</div>
				<div class="m2">
                    <button type="button" class="btn btn-primary"><i class="far fa-thumbs-up"></i> &nbsp;Aimer</button>
                    <button type="button" class="btn btn-primary"><i class="far fa-comment"></i> &nbsp;Commenter </button>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-dark">
		<div class="mx-auto d-flex justify-content-center">
			<p class="">© Copyright VisageLibre 2018 | <a href="#">Mentions légales</a></p>
		</div>
	</footer>

    <!--JQuery-->
    <script src="../application/static/jquery-1.11.1.js"></script>
    <!--JS-->
    <script src="../application/static/js/style.js"></script>
</body>
</html>
